<div class="page">
  <div class="header">
    <div>
      <h1 class="title">{{ title }}</h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
    </div>
      <div class="meta">
        <span>Key {{ key }}</span><br>
        {% if tempo.is_some() && time.is_some() %}
          <span>{{ tempo.unwrap() }} BPM in {{ time.unwrap().0 }}/{{ time.unwrap().1 }}</span>
        {% endif %}
        {% if tempo.is_some() && time.is_none() %}
          <span>{{ tempo.unwrap() }} BPM</span>
        {% endif %}
        {% if tempo.is_none() && time.is_some() %}
          <span>{{ time.unwrap().0 }}/{{ time.unwrap().1 }}</span>
        {% endif %}
      </div>
  </div>
  <div class="columns">
    {% for section in sections %}
      {{ section }}
    {% endfor %}
  </div>
</div> 
